{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
    <title>{{ company_name }}</title>
    <script type="text/javascript" src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui.js" %}"></script>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">

    <script type="text/javascript">
    </script>
</head>

<body>

<div class="centered-parent"></div>

<script type="text/javascript">
    var getAjax = function () {
    };
    var url = '/ajax_fragment';

    $(document).ready(function () {
        var i = 0;
        for (i = 0; i < {{ ajax_count }}; i++) {
            $('.centered-parent').append('<div class="ajax-fragment" id="fragment_' + i + '"></div>');
            $('#fragment_' + i).load(url + '/param_' + i + '/');
        }
    });
</script>

</body>
</html>
